.card {
    text-align: left;
    color: var(--primary);
    background-color: var(--alt-background);
    box-shadow: 0 0 10px 2px var(--border);
    border-radius: 8px;

    display: flex;
    gap: 1rem;
}

.bp_image {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.bp_details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 0.5rem;
}

.bp_title {
    padding-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.bp_date {
    color: var(--tertiary);
    margin-top: -5px;
}

.bp_description {
    font-size: 1.2rem;
    color: var(--secondary);
    flex-grow: 1;
}

.bp_tags_container {
    color: var(--interactive);
    padding-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .bp_image {
        display: none;
    }
}