.pages_nav {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.pages_nav > * {
    padding: 0.2rem 0.5rem;
}

.pages_nav a {
    color: var(--interactive);
}

.pages_nav a:hover {
    color: var(--interactive-hover);
}

.pages_nav .current_page {
    color: var(--interactive-secondary);
}

.pages_nav .current_page:hover {
    color: var(--interactive-secondary);
}