.quote {
    width: fit-content;
    max-width: 60%;
    margin: 1rem auto;
    padding: 0.6rem 0.8rem;
    border-radius: 0.15rem;
    background-color: var(--quote-background);
    border-left: 0.2rem solid var(--quote-border); 
}

.quote p {
    margin: 0rem;
}

@media only screen and (max-width: 600px) {
    .quote {
        max-width: 80%;
    }
}