.card {
    margin: 0 1px 1px 1px;
    background-color: var(--card-background);
    box-shadow: 0 0 10px 2px var(--card-border);
   
    border-radius: 8px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr), 20px;
    text-align: left;
    overflow: hidden;
}

.bp_image {
    overflow: hidden;
    grid-area: 1 / 1 / 5 / 3;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.bp_title {
    grid-area: 1 / 3 / 3 / 6;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--card-secondary);
    padding: 2px 5px 0 5px;
}

.bp_tags_container {
    grid-area: 3 / 3 / 4 / 6;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
    font-size: 0.8rem;
    overflow-y: visible;
    color: var(--card-primary);
}

.bp_tags_container > * {
    border: 1px;
    border-style: solid;
    border-radius: 12px;
    padding: 2px 5px;
}

.bp_tags_container > span:first-child  {
    border-color: var(--first-tag);
    background-color: var(--first-tag);
}

.bp_tags_container > span:nth-child(2) {
    border-color: var(--second-tag);
    background-color: var(--second-tag);
}

.bp_tags_container > span:nth-child(3) {
    border-color: var(--third-tag);
    background-color: var(--third-tag);
}

.bp_tags_container > span:nth-child(4) {
    border-color: var(--fourth-tag);
    background-color: var(--fourth-tag);
}

.bp_tags_container > span:nth-child(5) {
    border-color: var(--fifth-tag);
    background-color: var(--fifth-tag);
}

.bp_date {
    grid-area: 4 / 3 / 5 / 6;
    font-size: 0.8rem;
    color: var(--card-tertiary);
    padding: 0 5px 5px 5px;
    display: flex;
    align-items: flex-end;
}