@import url("@/app/components/styles/prism-highlighting.css");

:root {
    --page-max-width: 1100px;
    --header-height: 80px;
    --footer-height: 60px;

    --border-transparent: #0ecff140;
}

[data-theme="light"] {
    --background: #f2f2f2;
    --alt-background: #e4e5f1;
    --primary: #222222;
    --secondary: #484b6a;
    --tertiary: #9394a5;
    --interactive: #ca6c00;
    --interactive-hover: #e27a00;
    --interactive-secondary: #0ecff1;
    --interactive-secondary-hover: #12b0cc;
    --error: #bf0000;
    --border: rgba(136, 136, 136, 0.5);
    --border-highlight: var(--border-transparent);
    --mobile-nav: #f2f2f2ee;

    --console-user: #b90000;
    --console-path: #004b91;

    --quote-background: #e4e5f177;
    --quote-border: var(--border-transparent);

    --code-color: #394144;
    --code-file-color: #434c50;
    --code-lang-css: #f76d47;
    --code-background: #fafafa;
    --code-file-background: #e4e5f1;
    --code-selected: #cceae7;
    --code-attr-rule: #7c4dff;
    --code-attr-name: #39adb5;
    --code-attr-value: #e68600;
    --code-attribute: #e68600;
    --code-boolean: #7c4dff;
    --code-builtin: #39adb5;
    --code-cdata: #39adb5;
    --code-char: #39adb5;
    --code-class: #39adb5;
    --code-class-name: #6182b8;
    --code-comment: #aabfc9;
    --code-constant: #7c4dff;
    --code-deleted: #e53935;
    --code-doctype: #aabfc9;
    --code-entity: #e53935;
    --code-function: #7c4dff;
    --code-hexcode: #f76d47;
    --code-id: #7c4dff;
    --code-important: #7c4dff;
    --code-inserted: #39adb5;
    --code-keyword: #7c4dff;
    --code-number: #f76d47;
    --code-operator: #39adb5;
    --code-prolog: #aabfc9;
    --code-property: #39adb5;
    --code-pseudo-class: #e68600;
    --code-pseudo-element: #e68600;
    --code-punctuation: #39adb5;
    --code-regex: #6182b8;
    --code-selector: #e53935;
    --code-string: #e68600;
    --code-symbol: #7c4dff;
    --code-tag: #e53935;
    --code-unit: #f76d47;
    --code-url: #e53935;
    --code-variable: #e53935;
}

[data-theme="dark"] {
    --background: #263238;
    --alt-background: #222222;
    --primary: #ffffff;
    --secondary: #cfd8dc;
    --tertiary: #b0bec5;
    --interactive: #ca6c00;
    --interactive-hover: #e27a00;
    --interactive-secondary: #12b0cc;
    --interactive-secondary-hover: #0ecff1;
    --error: #bf0000;
    --border: rgba(0, 0, 0, .5);
    --border-highlight: var(--border-transparent);
    --mobile-nav: #263238ee;

    --console-user: #00ff00;
    --console-path: #20bbff;

    --quote-background: #22222277;
    --quote-border: var(--border-transparent);

    --code-color: #eee;
    --code-file-color: #eee;
    --code-lang-css: #fd9170;
    --code-background: #2f2f2f;
    --code-file-background: #262626;
    --code-selected: #646464;
    --code-attr-rule: #c792ea;
    --code-attr-name: #ffcb6b;
    --code-attr-value: #a5e844;
    --code-attribute: #a5e844;
    --code-boolean: #c792ea;
    --code-builtin: #ffcb6b;
    --code-cdata: #80cbc4;
    --code-char: #80cbc4;
    --code-class: #ffcb6b;
    --code-class-name: #f2ff00;
    --code-comment: #616161;
    --code-constant: #c792ea;
    --code-deleted: #ff6666;
    --code-doctype: #616161;
    --code-entity: #ff6666;
    --code-function: #c792ea;
    --code-hexcode: #f2ff00;
    --code-id: #c792ea;
    --code-important: #c792ea;
    --code-inserted: #80cbc4;
    --code-keyword: #c792ea;
    --code-number: #fd9170;
    --code-operator: #89ddff;
    --code-prolog: #616161;
    --code-property: #80cbc4;
    --code-pseudo-class: #a5e844;
    --code-pseudo-element: #a5e844;
    --code-punctuation: #89ddff;
    --code-regex: #f2ff00;
    --code-selector: #ff6666;
    --code-string: #a5e844;
    --code-symbol: #c792ea;
    --code-tag: #ff6666;
    --code-unit: #fd9170;
    --code-url: #ff6666;
    --code-variable: #ff6666;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

body {
    color: var(--secondary);
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--interactive);
    margin: 1rem 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 { 
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--interactive);
}

p,
ol,
ul {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

p,
li {
    line-height: 1.4;
}

ol,
ul {
    padding-left: 1rem;
}

img {
    margin: 0.5rem 0;
}

.img_three_quarters_screen {
    max-width: calc(var(--page-max-width) * 0.75);
    margin: 0 auto;
}

.img_two_thirds_screen {
    max-width: calc(var(--page-max-width) * 0.66);
    margin: 0 auto;
}

.img_half_screen {
    max-width: calc(var(--page-max-width) * 0.5);
    margin: 0 auto;
}

.img_one_third_screen {
    max-width: calc(var(--page-max-width) * 0.33);
    margin: 0 auto;
}

.img_quarter_screen {
    max-width: calc(var(--page-max-width) * 0.25);
    margin: 0 auto;
}

.centered {
    display: flex;
    justify-content: center;
}

.content_container {
    flex-grow: 1;
    width: 100%;
    padding: 0 1rem;
    align-self: center;
    max-width: var(--page-max-width);
}

@media only screen and (max-width: 600px) {
    .content_container {
        padding: 0 1rem;
    }
}