.header_container {
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--header-height);
    box-shadow: inset 0 -1px 0 0 var(--border);
    background-color: var(--alt-background); 
}

.header_container a {
    color: var(--primary);
}

.header_container header {
    display: flex;
    justify-content: flex-end;
    width: min(100%, var(--page-max-width));
}

.header_item1 {
    justify-self: flex-start;
    flex-grow: 1;
}

.header_item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_item3 {
    display: flex;
    align-items: center;
}

.header_brand {
    display: flex;
    align-items: center;
}

.header_title {
    padding-left: 0.4rem;
    font-size: 2rem;
    font-weight: 700;
}

.header_item2 a {
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.header_item2 a:hover {
    color: var(--interactive);
}

.header_item3 button {
    background-color: transparent;
    border: none;
    margin-left: 1.25rem;
    margin-right: 0.25rem;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .header_container {
        padding: 10px;
    }

    .desktop_links a {
        display: none;
    }

    .header_title {
        display: none;
    }

    .header_item3 button {
        margin: 0;
    }
}