.mobile_nav {
    display: none;
    margin-right: 0.5rem;
}

.mobile_nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile_nav_menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--mobile-nav);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 2rem;
}

.mobile_nav_links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.mobile_nav_links>ul>li>a {
    display: block;
}

@media only screen and (max-width: 680px) {
    .mobile_nav {
        display: flex;
    }
}