.main_container {
    max-width: var(--page-max-width);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

.profile_picture,
.blurb_text {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
