.main_container {
    max-width: var(--page-max-width);
    margin: 8vh auto 0 auto;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1280/5, repeat(4, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
    text-align: center;
}

.avatar_container,
.title_container,
.blurb_container,
.console_container {
    grid-column: 1 / 4;
}

.avatar {
    border-radius: 360px;
}

.title_container {
    color: var(--primary);
    font-size: 2.5rem;
}

.blurb_container {
    font-size: 1.4rem;
}

.console_container {
    margin-bottom: 1rem;
}

.console_user {
    color: var(--console-user);
}

.console_path {
    color: var(--console-path);
}

.blog_card {
    margin-top: 5vh;
}