@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --page-max-width: 1300px;
    --content-width: min(100%, var(var(--page-max-width)));
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}